



.modal-backdrop {
    backdrop-filter: blur(20px); /* Ajustez la valeur de blur selon vos besoins */
    background-color: rgba(255, 255, 255, 0.7); /* Couleur de fond du backdrop */
    z-index: 40 !important;
  }
  